{% extends "ap2.j2" %}

{% block summary %}
<p>
Dit applicatie heeft als doel de informatie te standaardiseren in de context van het kind, gericht op het ontwikkelen van een gemeenschappelijk begrip van essentiële kindinformatie. Dit applicatieprofiel werd ontwikkeld in het kader van  GZG (Gemeente-zonder-gemeentehuis) Boost traject, samen met Lokaal Digitaal, bij lokaal bestuur Bornem voor het ontwikkelen van een intergemeentelijk zoek- en reservatie platform dat het decreet buitenschoolse opvang en activiteiten (BOA) digitaal vormgeeft. Het doel van dit platform is om een intuïtief en gebruiksvriendelijk deelplatform te creëren in co-creatie met (kwetsbare) ouders en BOA-actoren. Daarnaast is het streven om de administratieve processen van BOA-medewerkers en organisatoren te optimaliseren en automatiseren, en om kwetsbare doelgroepen te ondersteunen door toegang te bieden aan maatschappelijk werkers en toeleiders.

Deze informatie is van groot belang voor zorgverleners, leerkrachten en andere professionals, ter ondersteuning van de zorg en het welzijn van kinderen. Hierbij zal de focus gelegd worden op het verbeteren van de gegevensuitwisseling tussen de verschillende partijen in de zorgsector. 
Met een standaard ‘kindfiche’ willen we de zorgcontinuïteit ondersteunen, samenwerking tussen dienstverleners optimaliseren en ook de administratieve lasten voor ouders verminderen. Door een gemeenschappelijk begrip te bereiken omtrent essentiële informatie over het kind, resulterend in een 'kindfiche', ontstaat een fundament voor data-uitwisseling tussen diverse softwareprogramma's en wordt de communicatie tussen de belanghebbenden versterkt. Informatieuitwisseling speelt een cruciale rol, bijvoorbeeld als een baby met een voedselallergie van crèche naar kleuterschool of buitenschoolse opvang overgaat. Het delen van deze allergie-informatie zorgt voor een veilige overgang en continuïteit in de zorg.
</p>
{% endblock %}

